# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env / local tools
.venv/
venv/

# Env files
.env
.env.*

# Alembic
alembic/versions/__pycache__/
alembic/versions/*

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
