LOGS_DB_URL=postgresql://webhook_api:strong_rw_password@payments-logs-db:5432/logs
PAYMENTS_DB_URL=postgresql://payments_api:strong_rw_password@payments-db:5432/payments

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

EXCHANGE_NAME=payments
QUEUE_NAME=payments.merchant

REDIS_URL=redis://redis:6379/0

PAYMENT_RETURN_BASE_URL=http://localhost:8080/api/v1/payments

STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_key

PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=your_sandbox_client_id
PAYPAL_CLIENT_SECRET=your_sandbox_client_secret
