POSTGRES_DB=providers
POSTGRES_USER=providers
POSTGRES_PASSWORD=providers
DATABASE_URL=postgresql://providers:providers@providers-db:5432/providers
PAYMENT_URL_BASE_WEBHOOK=http://gateway-verification:3000/api/v1/payments/webhook
INTERNAL_WEBHOOK_SECRET=super_secret_internal_key
PAYMENT_PAGE_BASE_URL=http://localhost:8002
