includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
    tmpDir: storage/framework/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\(Builder|Relations)\\.*#'
            path: app
